[submodule "MaaDeps"]
	path = MaaDeps
	url = https://github.com/MaaAssistantArknights/MaaDeps.git
	branch = dev
[submodule "assets/config/MaaAgentBinary"]
	path = assets/config/MaaAgentBinary
	url = https://github.com/MaaAssistantArknights/MaaAgentBinary.git
