[submodule "MaaDeps"]
	path = MaaDeps
	url = https://github.com/MaaAssistantArknights/MaaDeps.git
[submodule "tools/MaaLang"]
	path = tools/MaaLang
	url = https://github.com/MaaAssistantArknights/MaaLang.git
